@font-face {
    font-family: moon;
    src: url('../../style/fonts/Moon_Light.otf');
}

@font-face {
    font-family: sanFran;
    src: url('../../style/fonts/SanFranciscoDisplay-Ultralight.otf');
}

.workArea {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.workScreenContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workScreenContentContainer {
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  width: 80%;
}

.WorkDescription {
  font-family: sanFran !important;
  color: #262626 !important;
  font-size: 22px !important;
}

.imageGridItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workNavigationController {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  position: absolute;
  z-index: 1;
  bottom: 10%;
}

.chevronLeftContainer {
  padding: 0 50px 0 0;
}

.chevronRightContainer {
  padding: 0 0 0 50px;
}

.chevronLeftContainerMobile {
  position: relative;
  z-index: 1;
  padding: 0 0 0 20px ;
}

.chevronRightContainerMobile {
  position: relative;
  z-index: 1;
  padding: 0 20px 0 0;
}

.chevron {
  cursor: pointer;
  width: 40px !important;
  height: 40px !important;
}

.workIndicatorsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}

.indicatorIconFilled {
  cursor: pointer;
  padding: 0 5px 0 5px;
  color: #100fed !important;
  width: 15px !important;
  height: 15px !important;
}

.indicatorIconEmpty{
  cursor: pointer;
  padding: 0 5px 0 5px;
  color: #262626 !important;
  width: 15px !important;
  height: 15px !important;
}

@media screen and (max-width: 601px) {

  .workScreenContainer {
    padding-bottom: 100px;
  }

  .workNavigationController {
    bottom: 2%;
  }

  .chevron {
    width: 35px !important;
    height: 35px !important;
  }

   #uofo {
    width: 110px;
    height: 100px;
    padding-right: 35px;
  }

  #ciena {
    width: 190px;
    height: 90px;
  }

  #ibm {
    width: 170px;
    height: 90px;
  }

  /*#nokia {
    width: 150px;
    height: 90px;
  } */
}
