@font-face {
    font-family: moon;
    src: url('../../style/fonts/Moon_Light.otf');
}

@font-face {
    font-family: sanFran;
    src: url('../../style/fonts/SanFranciscoDisplay-Ultralight.otf');
}

.workArea {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.workScreenContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workScreenContentContainer {
  position: relative;
  z-index: 1;
  width: 50%;
  padding-bottom: 80px;
}

.WorkDescription {
  font-family: sanFran !important;
  color: #262626 !important;
  font-size: 19px !important;
}

.imageGridItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workNavigationController {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  position: absolute;
  z-index: 1;
  bottom: 10%;
}

.chevronLeftContainer {
  padding: 0 50px 0 0;
}

.chevronRightContainer {
  padding: 0 0 0 50px;
}

.chevronLeftContainerMobile {
  position: relative;
  z-index: 1;
  padding: 0 0 0 20px ;
}

.chevronRightContainerMobile {
  position: relative;
  z-index: 1;
  padding: 0 20px 0 0;
}

.chevron {
  cursor: pointer;
  width: 40px !important;
  height: 40px !important;
}

.workIndicatorsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}

.indicatorIconFilled {
  cursor: pointer;
  padding: 0 5px 0 5px;
  color: #100fed !important;
  width: 15px !important;
  height: 15px !important;
}

.indicatorIconEmpty{
  cursor: pointer;
  padding: 0 5px 0 5px;
  color: #262626 !important;
  width: 15px !important;
  height: 15px !important;
}

@media screen and (max-width: 801px) {
  .WorkDescription {
    font-size: 17px !important;
  }

  .workScreenContentContainer {
    min-width: 220px;
    padding-bottom: 80px;
  }

  .chevron {
    width: 35px !important;
    height: 35px !important;
  }

  #uofo {
    width: 110px;
    height: 75px;
  }

  #ibm {
    width: 150px;
    height: 90px;
  }

  #ciena {
    width: 120px;
    height: 60px;
  }

  #nokia {
    width: 150px;
    height: 90px;
  }
}

@media screen and (max-width: 980px) and (min-width: 801px) {

  .indicatorIconFilled {
    width: 12px !important;
    height: 12px !important;
  }

  .indicatorIconEmpty {
    width: 12px !important;
    height: 12px !important;
  }

  .WorkDescription {
    font-size: 15px !important;
  }

  #uofo {
    width: 110px;
    height: 75px;
  }

  #ibm {
    width: 150px;
    height: 90px;
  }

  #ciena {
    width: 160px;
    height: 70px;
  }

  #nokia {
    width: 150px;
    height: 90px;
  }
}
